* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    background-color:rgb(125, 150, 120);
}

.body {
    display: grid;
    justify-content: center;
    font-family: "Raleway";
    background-color: rgb(162, 200, 154);

    margin: 0%;
    padding: 0%; 
}  

hgroup{
    font-family: "Raleway";
}

hr{
    text-align: center;
}

/* HEADER */
.header {
    grid-column: 1 / span 2;
    text-align: center;
    align-items: center;
    padding: 0; 
    margin: 0;
    width: screen;

    background-color: rgb(247, 251, 242);
    background-image: url(img/kuchniakapitol.jpg);
    border-image-width: 100%;
    height: 200px;
    background-size: cover;
    background-repeat: no-repeat;

    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; 
    position: relative;
}

.header::before {
    margin:0;
    padding: 0;
    content: "";
    position: absolute;
    inset: 0;

    background-color: rgba(255, 255, 255, 0.35);
    backdrop-filter: brightness(0.9) saturate(0.8);
    
    pointer-events: none;
    z-index: 1; 
}


.header h1{
    text-align: center;
    margin: 0;
    padding: 0;

    font-family: "Bitter";

    position: relative;
    z-index: 2;
    font-size: 50px;
}

/* NAVIGATION BAR */
.navbar{
    grid-column: 1 / span 2;
    padding: 0%;
    margin: 0%;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
    background-color: rgb(204, 124, 151);
    font-size: larger;
    padding: 0%;
    margin: 0%;
    overflow: hidden;

    display: flex;
    justify-content: center;
    align-items: center;
}

.navbar a{
    color: #000;
    text-decoration: none;
    padding: 15px;
    display: block;
}

.navbar a:hover{
    background-color: rgb(181, 106, 131);
    border-radius: 20%;
}

.navbar li{
    margin: 10px;
}

@media (max-width: 700px){
    .navbar ul{
        flex-direction: column;
    }
    .navbar ul li{
        width: 100%;
        text-align: center;
        margin:10px;
    }

    .main text img{
        flex-direction: column;
    }
}


.main{
    display: grid;
    margin: 0;
    padding: 0 50px;
    background-color: rgb(213, 223, 200);
}

.main h1{
    display: grid;
    place-items: left;
    margin: auto auto;
    max-width: 1200px;
    width: 100%;
    font-size: xx-large;
    font-family: "Bitter";
    padding: 20px 0;
}

.main h3{
    font-family: "Bitter";
    margin-bottom: 10px;
}

.main p{
    margin: 0;
    font-family: "Raleway";
}

.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    row-gap: 30px;
    column-gap: 20px;
    padding: 32px;
}


.box{
    background-color: rgb(162, 200, 154);
    color: black(219, 107, 151);
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    height: 100%;

    display: flex;
    flex-direction: column;
    padding: 20px;
}

.box h3{
    margin-top: 10px;
    color: rgb(57, 91, 55);
}

.box a{
    color: rgb(57, 91, 55);
    text-decoration: none;
}

.box a:hover{
    color: rgb(27, 55, 25);
    text-decoration: none;
    transition: 0.7s;
}

.box img {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  display: block;
  border-radius: 8px;
}


/* FOOTER */
footer{
    grid-column: 1 / span 2;
    padding: 0%;
    margin: 0%;
    width: screen;
    box-sizing: border-box;
    background-color: rgb(162, 200, 154);
}

.footerContainer{
    width: 100%;
    padding: 70px 30px 20px;
}

.socialIcons{
    display: flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding: 10px;
    background-color: rgb(219, 107, 151);
    margin: 10px;
    border-radius: 50%;
}

.socialIcons a i{
    font-size: 2em;
    color: pink;
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color: rgb(185, 68, 115);
    transition: 0.5s;
}

.socialIcons i:hover{
    background-color: rgb(185, 68, 115);
    transition: 0.5s;
}

.footerNav{
    margin: 30px 0%;
    padding: 0%;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footerNav ul li a{
    color: black;
    margin: 20px;
    text-decoration: none;
    font-size: 1.3em;
    opacity: 0.7;
    transition: 0.5s;
}

.footerNav ul li a:hover{
    opacity: 1;
}

.footerBottom{
    padding: 0%;
    margin: 0%;
    width: screen;
    box-sizing: border-box;
    background-color: rgb(219, 107, 151);
}

.footerBottom p{
    background-color: rgb(219, 107, 151);
    display: flex;
    justify-content: center;
}

.designer{
    opacity: 0.7;
    text-transform:  uppercase;
    letter-spacing: 1px;
    font-weight: 400;
    margin: 0px 5px;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin:10px;
    }
}

/* ABOUT US */
.about-container {
    display: flex;
    align-items: flex-start;      
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px 50px;
}

.about-text {
    flex: 1 1 60%;
}

.avatar {
    width: 260px;
    height: 260px;
    object-fit: cover;
    border-radius: 50%;
    flex-shrink: 0;

    border-radius: 50%;

    display: flex;
    align-self: center;
}

@media (max-width: 800px) {
    .about-container {
        flex-direction: column;
        text-align: center;
        align-items: center;
    }

    .avatar {
        width: 200px;
        height: 200px;
    }
}


/* FORMULARZ */
.ramka {
    position: relative;
    background-color: rgb(57, 91, 55);
    border: 3px solid rgb(57, 91, 55);
    border-radius: 15px;
    margin: 10px auto;
    padding: 60px 10px 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    max-width: 1000px;
    }

    #contact-form {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 500px;
    height: auto;
    display: block;
    background-color: rgb(162, 200, 154);
    border: 3px solid rgb(162, 200, 154);
    justify-self: center;
    margin: 0 auto;
    padding: 20px;
    border-radius: 15px;

    width: 90%;
    padding: 15px;
    }

    #contact-form h1 {
    color: rgb(27, 55, 25);
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    margin-bottom: 20px;
    }

    .paragraf {
    color: rgb(27, 55, 25);
    display: flex;
    justify-content: center;
    font-size: 1rem;
    margin-bottom: 15px;
    }

    .paragraf input,
    .paragraf select,
    .paragraf textarea {
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgb(57, 91, 55);
    width: 100%;
    max-width: 90%;
    background-color: rgb(213, 223, 200);
    }

    .paragraf textarea {
    resize: vertical;
    min-height: 150px;
    font-size: 1rem;
    }
    .button {
    background-color: rgb(181, 106, 131);
    color: rgb(0, 0, 0);
    border: rgb(185, 68, 115);
    border-radius: 10px;
    padding: 10px 20px;
    font-family: "Bitter";
    font-size: 20px;
    cursor: pointer;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 20px auto;
    }

    .button:hover {
    background-color: rgb(185, 68, 115);
    transition: 0.7s;
    }

#contact-form {
    width: 90%;
    padding: 15px;
}

.paragraf input,
.paragraf select,
.paragraf textarea {
    max-width: 100%;
}


@media (max-width: 480px) {
#contact-form {
    width: 90%;
}
}

/* PRZEPIS */
.recipe h1 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Bitter";
}

.recipe h2 {
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: "Bitter";
}

.recipe p{
    font-family: "Raleway";
    margin-bottom: 20px;
}

.recipe{
    display: grid;
    margin: 0;
    padding: 0 50px;
}

.recipe{
    background-color: rgb(213, 223, 200);
    margin-left: 20%;
    margin-right: 20%;
}

.recipe-box {
    background-color: rgb(162, 200, 154);
    padding: 16px 20px;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    width: 320px;
    margin: 20px 0;
    flex-shrink: 0;

}

.recipe-box h2 {
    font-size: 1.4em;
    margin: 0 0 10px 0;
}

.recipe-box ul {
    margin: 0;
    padding-left: 20px;
    font-family: "Raleway";
}

.recipe-box li {
    margin-bottom: 4px;
    line-height: 1.3;
}

.recipe-wrapper {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 20px 0;
    flex-wrap: wrap;
}

.recipe-photo {
    width: 320px;
    border-radius: 5px;
    object-fit: cover;
}

@media (max-width: 768px) {
    .recipe {
        margin: 0%;
        padding: 0 20px;
    }
    .recipe-box,
    .recipe-photo {
        width: 100%; 
        max-width: 320px;
        margin: 10px auto; 
    }
    .recipe-wrapper {
        flex-direction: column;
        gap: 20px;
        margin: 10px 0;
        align-items: center;
    }
}